.bg-container {
  background-color: aliceblue;
  background-size: cover;
  box-sizing: border-box;
}
.text {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
#username {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}
.para {
  font-size: 50px;
  font-family: "open sans";
  font-weight: 100;
  margin: 30px;
  padding: 30px;
}
.image {
  height: 500px;
  width: 500px;
  align-items: center;
}
